services:
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always 
    depends_on:
      - skylineglobeserver
    ports:
      - "8443:443"    # External 8443 maps to internal NGINX HTTPS port 443
    volumes:  # Mount local folders for data persistence
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    networks:
      - skyline_network

  postgres:
    image: postgis/postgis:latest
    container_name: postgres_for_sgs
    restart: always 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - skyline_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h postgres -U postgres -d postgres"]
      interval: 10s
      retries: 20
      start_period: 120s
      start_interval: 2s
      timeout: 10s

  skylineglobeserver:
    image: skylineglobe/skylineglobeserver:latest # Docker image to use
    container_name: skylineglobeserver
    restart: always 
    depends_on:
      postgres:
        condition: service_healthy
    expose:
      - "5155" # Expose for internal use
    environment:   # Configure SGS
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
      SGS__ServerConfig__CatalogDBType: PostgreSQL
      SGS__ServerConfig__SharedDataPath: /app/data/SkylineGlobeServerConfiguration    
      SGS__ServerConfig__CatalogPostgreSqlConnString: server=postgres;port=5432;database={0};user id=postgres;password=postgres;
      SGS__ServerConfig__PublicUrl: https://sgs.localhost:8443
      SGS__ServerConfig__LicenseServerURL: ""
      SGS__Kestrel__Endpoints__Http__Url: http://0.0.0.0:5155
      SGS__AllowedHosts: "*"
    volumes:  # Mount local folders for data persistence
      - ./data:/app/data 
      - ./config:/app/config
      # Option 1: Mount a subfolder (keeps the original /app/tef/custom contents)      
      # - ./more-data:/app/tef/custom/more-data
      # Option 2: Mount a single file (adds/replaces one file). ":ro" makes the mount read-only      
      # - ./my-config.json:/app/tef/custom/my-config.json:ro
    networks:
      - skyline_network

networks:
  skyline_network:
    driver: bridge
